.tittle{

    color: red;
    text-align: center;
    text-decoration-line: underline;
    animation-direction: reverse;
    text-decoration-color: white;
    cursor: progress;
    
}
.abouthome{
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
}
.abouthome:hover{
    border: blue solid;
}
.img{
    
    width: 33%;
    height: 33%;
    cursor: pointer;
    
}
.text{
    width: 33%;
    background: white;
    font-size: 1em;
}

.more{
    width: 34%;
    background: white;
   
}
.read{
    border: blue solid;
    border-radius: 0.9em;
    background: white;
    cursor: pointer;

}

.image{
    max-width: 100%;
    max-height: 100%;
}
.sub{
    color: blue;
}
.start{
    color: red;
    font-size: 1.5em;
    cursor: pointer;
    animation: blinker 6s linear infinite;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }
  .para{
      font-size: 1em;
  }
  .dial{
      color: rgb(58, 181, 238);
      font-weight: bold;
  }